/* CONFIGURAÇÕES GERAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding-top: 85px;
    background-color:#FFFFFF;
    color: #333;
}

/* CABEÇALHO */
header {
    background: linear-gradient(135deg, #ffffff, #ffffff);
    color: rgb(14, 13, 13);
    padding-bottom: 40px;
    position: relative;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

header nav div {
    display: flex;
    align-items: center;
    gap: 10px;
}

header nav img {
    width: 45px;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color:#f3f3f3;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: .3s;
    font-size: 16px;
}

.icone {
    font-weight: bold;
}

#amigaIcone {
    color: #2E7D32;
}

.botao-1 {
    background-color: #2E7D32;
    color: white;
}

.botao-2 {
    background-color: #2E7D32;
    color: white;
}

.botao-3 {
    background-color: #2E7D32;
    color: white;
}

.botao-4 {
    background-color: #2E7D32;
    color: white;
}


header nav ul li a:hover {
    color: #333;
}

/* HERO */
header > div {
    text-align: center;
    padding: 100px 20px;
    background-color: #2e7d3291;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

header p {
    max-width: 700px;
    margin: 0 auto 30px auto;
}

header a {
    text-decoration: none;
    padding: 12px 28px;
    border-radius: 6px;
    background-color: #fff;
    color: #2E7D32;
    font-weight: bold;
    margin: 0 10px;
    transition: .3s;
}

header a:hover {
    background-color: #c9c9c9;
    color: #333;
}

header hr {
    margin-top: 40px;
    border: none;
    height: 1px;
    background-color: #ffffff44;
}

.parte-1 {
    text-align: left;
}

/* SEÇÃO 1 */
section {
    padding: 20px 10px;
}

section h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #2E7D32;
    text-align: center;
}

section div > div {
    margin-top: 30px;
    text-align: center;
}

.comoFunciona img {
    width: 30px;
    padding: 5%;
    text-align: center;
}

.fundoIcone {
    background-color: #2e7d3244;
    border-radius: 10px;
    width: 80px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 1%;
}

section h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
}

/* SEÇÃO "COMO FUNCIONA" */
main section:nth-of-type(1) {
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 60px 20px;
}

main section:nth-of-type(1) div {
    text-align: center;
    margin-bottom: 40px;
}

main section:nth-of-type(1) img {
    width: 50px;
    margin-bottom: 5px;
}

/* SEÇÃO FINAL */
main section:nth-of-type(2) {
    text-align: center;
    padding: 80px 40px;
    background-color: #ffffff;
}

main section:nth-of-type(2) div div a {
    background-color: #2E7D32;
    color: white;
    padding: 12px 25px;
    margin: 0 10px;
    border-radius: 6px;
    display: inline-block;
    text-decoration: none;
    transition: .3s;
}

main section:nth-of-type(2) div div a:hover {
    background-color: #c9c9c9;
}

.bnt:hover {
    background-color: #c9c9c9;
    color: #333;
}

/* FOOTER */
footer {
    font-size: 14px;
    font-weight: 550;
    background-color: #d4d4d4;
    color: 000;
    padding: 50px 50px;
}

.icone{
    display: flex;
    align-items: center;
}

footer .icone {
    gap: 10px;
    margin-bottom: 4%;
}

.icone img{
    width: 45px;
}

footer h2 {
    color: #2E7D32;
}

.contatos p {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contatos img{
    width: 22px;
}

footer ul li a {
    position: relative;
    text-decoration: none;
    color: #000;
    padding-bottom: 3px;
    transition: color 0.3s ease;
}

footer ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: #2E7D32;
    transition: width 0.3s ease;
}

footer ul li a:hover::after {
    width: 100%;
}

footer > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
}

footer ul {
    list-style: none;
    margin: 2%;
}

footer li {
    margin-bottom:3%;
}

.contatos p {
    margin: 2%;
}

footer ul li a {
    text-decoration: none;
    color: #000;
}